* {
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: url('../img/other/MouseCursor1.png'), auto;
    
}

#map {
    display: flex;
    background-position:top right;
	background-repeat:no-repeat;
    margin: 0 auto;
    padding-top: 20px;
}


.chat{
    height: 500px;
    width: 500px;
}

.users {
    height: 500px;
    width: 200px;
}

.input-chat{
    height: 100px;
    width: 700px;
}

.character{
    position: absolute;
    max-width: 30px;
    max-height: 40px;
}