* {
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: url('../img/other/MouseCursor1.png'), auto;
    
}


html {
	background-image:url('../img/backgrounds/background1.png');
	background-position:top right;
	background-repeat:no-repeat;
    
}

main {
    display: flexbox;
    justify-content: center;
}




.signin {
    border-radius: 10px;
    border-color: black;
    background-color: rgba(176, 176, 185, 0.4);
    padding-top: 2%;
    padding-left: 2%;
    margin-bottom: 10px;
    display: inline-block;
    width: 250px;
    height:  225px;
}

.signup {
    border-radius: 10px;
    border-color: black;
    background-color: rgba(176, 176, 185, 0.4);
    padding-top: 2%;
    padding-left: 2%;
    margin-bottom: 10px;
    display: inline-block;
    width: 250px;
    height:  400px;
}

#connexion-button {
    padding:10px;
    font-size: 1.3em;
    border-style: line;
    color:black;
    background-color: beige;
    margin-right: 30px ;
}

.sign-in-input-group{
    padding-top: 0%;
    padding-bottom: 5%;
  
}

#background-choix-text {
    font-size: 30px ;
    color: white;
}

#background-list {
    font-size: 20px;
}

#info {
    display: flex;
    width: 80%;
    height: 25px;
    padding-bottom: 20px;
    margin-bottom: 10px;

}

#register {
    background-color: black;
    border-color: white;
    border-style: solid;
    font-size: 20px ;
    color: white;
    text-decoration: none;
    margin-right: 30px ;
}

#choixbackground {
    display: flex;
    position: relative;
} 

.zone-fleche {
    font-size: 20px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

#fleche {
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
    width: 50px;
}

.zone-character {
    display: flex;
    position: relative;
    justify-content: center;
    margin-right: "1px";
    margin-left: "1px";
}

.background-character {
    opacity: 0.35;
    width: 200px;
    height: 275px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    
}

#background-character1 {
    background-image: url("../img/sprites/BinahSprite.png") ;
}

#background-character2 {
    opacity: 0.35;
    background-image: url("../img/sprites/MalkuthSprite.png");
}

.selected-character {
    opacity: 1;
    align-items: center;
    width: 200px;
    height: 275px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    background-image: url("../img/sprites/RolandSprite.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.zone-pedestal {
    position: relative;
}

