* {
	margin:0;
	padding:0;
}

html {
	background-image:url('../img/backgrounds/background1.png');
	background-position:top right;
	background-repeat:no-repeat;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

button {
    padding:10px;
    font-size: 1.3em;
    border-style: line;
    color:black;
    background-color: beige;
}

.signup {
    border-radius: 10px;
    border-color: black;
    background-color: rgba(176, 176, 185, 0.4);

    position: relative;
    padding-top: 10%;
    padding-left: 10%;
    margin-bottom: 10px;
    display: flexbox;
    width: 200px;
    height:  200px;
}

#backgroundchoixtext {
    font-size: 30px ;
    color: white;
}

#info {
    display: flex;
    width: 80%;
    height: 20%;
    padding-bottom: 20px;
    margin-bottom: 10px;

}

#register {
    background-color: black;
    border-color: white;
    border-style: solid;
    font-size: 20px ;
    color: white;
    text-decoration: none;
}